/* The positioning currently is simply a mockup of exact values to serve as a reference, at a later
date the positions will be changed to properly scale with window size. */

* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    margin-top: 20px;
    margin-bottom: 36px;
    margin-left: 24px;

    width: 100%;
}

header p {
    font-family: Inconsolata, monospace;
    color: #333;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
}

main {
    margin: 64px 24px 100px;
}

main img {
    position: relative;
    margin-top: 36px;
    margin-bottom: 30px;

    height: 238px;
    width: 286px;
    object-fit: contain;
}

main h1 {
    position: relative;
    margin-top: 36px;
    margin-bottom: 15px;
    
    width: 110%;

    font-family: 'Space Mono', monospace;
    color: #333;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;
}

main .message {
    position: relative;
    margin-top: 15px;
    margin-bottom: 33px;

    font-family: 'Space Mono', monospace;
    color: #4F4F4F;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    font-weight: 400;
}

footer {
    position: absolute;
    bottom: 1%;

    width: 100%;

    z-index: -1;
}

footer p {
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.rectangle {
    position: relative;
    margin-top: 33px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 68px;
    width: 216px;

    background-color: #333;
}

.rectangle p {
    color: #FFF;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.035em;
    font-family: 'Space Mono', monospace;
}

.emphasis {
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (min-width: 494px) {
    header {
        margin-top: 40px;
        margin-left: 77px;
    }

    main {
        display: grid;

        grid-template-areas: 
        "a b"
        "a b"
        "a c"
        "a d";
    }

    main img {
        width: 539px;
        height: 447px;

        grid-area: a;
    }

    main h1 {
        grid-area: b;
        
        margin-top: 0px;
        margin-bottom: 0px;

        width: fit-content;
    }

    main .message {
        grid-area: c;

        margin-top: 0px;
        margin-bottom: 0px;
    }

    .rectangle {
        grid-area: d;

        margin-top: 0px;
    }
}